@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
}
img{
    display: block;
}
.nowrap{
    white-space: nowrap;
}
body{
    font-family: "Nunito",sans-serif;
    min-height: 100vh;
}
.offscreen{
    position: absolute;
    
}
.container{
    background-color: burlywood;
    background-image: url(../img/mountain.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}
.deer-profile{
    border: 2px solid #272727;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
.h1{
    font-size: 500%;
    color:palevioletred;
    text-shadow: 2px 2px 5px black;
}
.profile-pic-figure{
    width: 35%;

}
.profile-pic-figure img{
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}